body {
  background-color: orange;
}

.title-image {
  display: inline-flex;
  width: 230px;
  margin: 16px;
  background-color: #17805d;
  color: white;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
  margin: 30px;
  padding: 10px;
}
